* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  position: relative;
}

body {
  margin: 0;
  background-color: #000000;
  color: #d4d4d4;
  background-image: url(./Images/bgc-tech-transformed.jpeg);
  /* filter: blur(1px); */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  text-shadow: 1px 2px 2px #a78edcb3;
  text-shadow: 1px 2px 2px #a78ee370;
  /* position: relative; */
  

}

/* body main-container */
.container-main {
  display: grid;
  grid-template-areas:
    "nav nav nav nav nav"
    "cont cont cont cont cont"
    "fotr fotr fotr fotr fotr";
}
/* ----------------- nav bar ------------------- */
.logo {
  position: relative;
  top: -0.5rem;
  height: 5.5rem;
}
.nav {
  grid-area: nav;
  position: sticky;
  top: 0;
  z-index: 10;
  /* background-color: #c5c4c4; */
  background-color: #dde1e1;
  
  display: grid;
  /* grid-template-columns: repeat(5,auto); */
  grid-template-columns: repeat(auto-fit,minmax(70px,auto));
  
  height: 5rem;
  align-items: center;
  justify-content: space-around;
  
  /* justify-content: space-evenly; */
  width: 100vw;
}
.nav-content {
  font-size: 1.32rem;
  color: #515656;
  display: flex;
  list-style-type: none;
  align-items: center;
  gap: 2rem;
  padding-left: 0;
  /* background-color: #f80303; */
  font-size: 1.4rem;
  /* display: none; */
}

.search {
  height: 30px;
  border: 2px solid black;
  border-radius: 9px;
  /* height: 29px; */
  background-color: #e0dfdf;
  /* padding-left: 18px; */
  font-size: 18px;
  padding-left: 35px;
  width: 19vmax;
}
.btn-login,
.btn-cart {
  height: 40px;
  line-height: inherit;
  /* width: 110px; */
  /* width: fit-content; */
  /* border: 2px solid black; */
  border-radius: 9px;
  /* padding-left: 18px; */
  font-size: 22px;
  margin: auto;
  cursor: pointer;
}

.btn-cart {
  /* border: none;
  background-color: transparent; */
  & i {
    color: #494b4b;
    font-size: 45px;
  }
  & span {
    margin: 4px;
  }
}
#cart_number{
  position: absolute;
  top: 3px;
  translate: -36px;
  min-height: 32px;
  min-width: 32px;
  padding: 3px;
  text-align: center;
  background-color: #e7e5e5;
  border: 2px solid black;
  border-radius: 50%;
  /* margin: auto; */
  font-size: 20px;
}
.btn:hover {
  /* color-scheme:; */
  background-color: #fff;
  color: #eceaec;
  background-color: #1a0b1d;
  cursor: pointer;
}
.input {
  font-size: 18px;
  
  margin: auto;
  width: 19vmax;
 
}
.input i {
  
  position: absolute;
  color: black;
  line-height: 10px;
  margin: 10px;
}

/* user profile in nav  */
#userDetails, #userProfile{
  cursor: pointer;
  /* display: flex;
  flex-direction: column; */
  & img{

    height: 60px;
    width: 60px;
    
    border: 2px solid #710e83;
    border-radius: 100%;
    cursor: pointer;
  }

}

.hamburger{
  display: none;
  /* background-color: #f405e4; */
  height: auto;
  width: auto;
  font-size: 2rem;
  color: #000000;
}

.my-nav-link {
  text-decoration: none;
  /* color: #333; */
  position: relative;
}
.my-nav-link:link{
  color: #750988;
}
.my-nav-link:visited{
  color: #710e83;
}
.my-nav-link:active{
  color: #510746;
}

/* Underline effect */
.my-nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2.5px; /* Adjust thickness of the underline */
  bottom: -3px; /* Adjust distance from text */

  background-color: #870690; /* Set underline color */
  /* visibility: hidden; */
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

/* Hover effect to reveal the underline */
.my-nav-link:hover::before {
  visibility: visible;
  transform: scaleX(1);
}
.my-nav-link:hover {
  font-size: 23px;
}

.dropdown-menu {
  background-color: #dde1e1; /* Match navbar background */
}
.dropdown-item {
  color: #515656; /* Link color */
}
.dropdown-item:hover {
  background-color: #870690; /* Hover background color */
  color: white; /* Hover text color */
}

/* Hide the dropdown arrow */
.dropdown-toggle::after {
    display: none; /* Hides the default Bootstrap arrow */
}


/*  ----------------------- side bar ----------------------- */
.side-bar {
  position: fixed;
  top: 10.5rem;
  grid-area: side;
  width: 20rem;
}

.side-bar .side-tabs {
  box-sizing: border-box;

  color: #ffffff;
  display: flex;
  height: 17vh;
  font-size: 2.9rem;
  place-content: center;
  cursor: pointer;
  transition: 0.8s;
  align-items: center;
  text-decoration: none;

  box-shadow: 1px 1px 8px 1px gray;
  border-radius: 10px;
  background-color: #202020;
  background-color: #202020a6;
}
.side-tabs:hover {
  background-color: #4a4a4a;
  border: 3px solid;
  border-image-source: linear-gradient(
    45deg,
    #ff0077fd,
    transparent,
    #01f476e9
  );
  border-image-slice: 1;
  color: #fefefe;
  font-size: 3rem;
}

/* ------------------  home page --------------------- */
.home-main-section {
  /* height: 100vh; */
  grid-area: cont;
}
.home-main-section .content-main-page {
  background-color: #a7a6a5a8;
  background-color: #aaa8a498;
  background-color: #aaa8a4bf;

  color: #000000;
  height: 100%;
  display: flex;
  flex-direction: column;

  margin: 3%;
  text-align: justify;
  padding: 4%;
  align-items: center;
  border: 3px solid;
  border-image-source: linear-gradient(45deg, #d900ff, #01f476, #ff0077);
  border-image-slice: 1;
  box-shadow: -3px -4px 6px 2px gray;
}

.content-main-page .sub-heading {
  color: #022b28;
  text-align: center;
}
.top-header{
  font-size: 32px;
}
.top-heading{
  color: #080330;
  /* font-weight: bolder; */
  font-family: cursive;

}
.top-content {
  font-size: 20px;
  font-weight: 600;
  font-family: cursive;
}
.sub-content {
  font-size: 19px;
  font-family: serif;
}
.input {
  font-size: 18px;

  margin: auto;
  width: 19vmax;
}
.input i {
  position: absolute;
  color: black;
  line-height: 10px;
  margin: 10px;
}

/* --------------------- login Page ---------------------- */

#login_page {
  margin: 5%;
  grid-area: cont;
  width: 50vw;
  height: 60vh;

  border: 2px solid transparent;
  box-shadow: 1px 1px 8px 1px #7f4b5f;
  box-shadow: 1px 1px 8px 1px gray;
  /* background-color: #202020; */
  background-color: #0b0b0bc7;

  border-radius: 2%;

  border-image-source: linear-gradient(35deg, #fd02d8, #01f476, #d900ff);
  border-image-slice: 1;
}

.heading {
  text-align: center;
  color: #28dbd5;
  color: #360649;
  color: #73fdfd;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* color: #111111; */
  margin: 5%;

  & label {
    /* margin: 2rem; */
    display: inline-block;
    width: 6rem;
    font-size: 22px;
  }
  & button {
    margin-left: 2rem;
    /* font-size: 22px; */
  }
}

.input-form {
  background-color: #dad8d8;
  height: 30px;
  font-size: 15px;
  border: 2px solid black red;
  border-radius: 8px;
  padding-left: 8px;
}
.input-form:hover {
  background-color: #f7f4f4;
  color: #30012c;
}
.btn-login-form {
  padding: 2px;
  margin: 3%;
}
.btn-login {
  font-size: 18px;
  width: 6rem;
  border: 2px solid #000000;
  padding: 5px;
  transition: 0.8s;
  border-radius: 5px;
}
.btn-login:hover {
  font-size: 18px;
  background-color: #d3d0d0;
  cursor: pointer;
}

.footer{
  grid-area: fotr;
  background-color: #3c3b3bd1;
  width: 100%;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  margin-top: 4%;
  z-index: 12;
  
  padding: 1% 0;
  & a{
    text-align: center;
    padding-left: 5%;
    font-size: 30px;
    /* color: #000000; */
    color: #ffffff;
    text-decoration: none;
  }
  
}



/* nav -  */

@media only screen and (width>970px) {
  .logo-1{
    display: block;
  }
  .logo-2{
    display: none;
  }
}
@media only screen and (max-width:1040px) {
  .nav-content{
    gap: 1rem;
    background-color: transparent;
    
  }
}
@media only screen and (max-width:970px) {
  .logo-1{
    display: none;
  }
  .logo-2{
    display: block;
  }
  .search,.input{
    width: 15rem;
    transition: .4s ease-in-out;
  }
}
@media only screen and (max-width:850px) {
  .nav-content{
    gap: 1rem;
    display: none;
    transition: 10s ease-in-out;
    
  }
  .hamburger{
    display: block;
  }
  .search,.input{
    width: 38vmax;
    transition: .4s ease-in-out;
  }
}

@media (max-width:600px) {
  .nav {
    
    
    /* display: flex;
    flex-direction: column; */
    /* display: grid; */
    /* grid-template-columns: repeat(4,auto); */
    /* grid-template-columns: repeat(auto-fit,minmax(70px,auto)); */


    /* justify-content: space-evenly; */
    /* width: auto; */
    /* height: auto; */
  }
  .nav-content {
    display: none;
    grid-column: 2;
    grid-row: 3;
    /* grid-row: inherit; */
    flex-direction: column;
  }
  .btn-cart{
    grid-row: 1;
    grid-column: 2;
  }
  .hamburger{
    display: block;
    grid-row: 1;
    grid-column: 4;
    }
  .btn-login{
    grid-row: 1;
    grid-column: 3;
  }
  .input{
    /* display: inline; */
    grid-row: 2;
    grid-column: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    /* width: 2rem; */
    /* width: 100px; */
    /* position: absolute; */
  }
  .search,.input{
    transition: .4s ease-in-out;
    /* width: 10rem; */
    /* position: relative; */
    /* left: 0; */
    /* width: 100vw; */
    
  }
  .logo-1{
    display: block;
  }
  .logo-2{
    display: none;
  }
}
@media only screen and (width<500px) {
  .logo-1{
    display: none;
  }
  .logo-2{
    display: block;
  }
  .search,.input{
    /* display: none; */
    /* width: 15rem; */
    transition: .4s ease-in-out;
  }
}

