*{
  box-sizing: border-box;

}

html{
  font-size: 100%;
}

body {
  margin: 0;
  background-color: #000000;
  color: #d4d4d4;
  position: relative;
}
.logo {
  position: relative;
  top: -0.5rem;
  height: 5.5rem;
}
.nav {
  position: sticky;
  top: 0;
  z-index: 10;
  /* background-color: #c5c4c4; */
  background-color: #dde1e1;
  
  display: grid;
  /* grid-template-columns: repeat(5,auto); */
  grid-template-columns: repeat(auto-fit,minmax(70px,auto));
  
  height: 5rem;
  align-items: center;
  justify-content: space-around;
  
  /* justify-content: space-evenly; */
  width: 100vw;
}
.content {
  font-size: 1.32rem;
  color: #515656;
  display: flex;
  list-style-type: none;
  align-items: center;
  gap: 2rem;
  padding-left: 0;
  /* background-color: #f80303; */
  font-size: 1.4rem;
  /* display: none; */
}

.search {
  height: 30px;
  border: 2px solid black;
  border-radius: 9px;
  /* height: 29px; */
  background-color: #e0dfdf;
  /* padding-left: 18px; */
  font-size: 18px;
  padding-left: 35px;
  width: 19vmax;
}
.login_btn,
.btn-cart {
  height: 40px;
  line-height: inherit;
  /* width: 110px; */
  /* width: fit-content; */
  /* border: 2px solid black; */
  border-radius: 9px;
  /* padding-left: 18px; */
  font-size: 22px;
  margin: auto;
  cursor: pointer;
}

.btn-cart {
  /* border: none;
  background-color: transparent; */
  & i {
    color: #494b4b;
    font-size: 45px;
  }
  & span {
    margin: 4px;
  }
}
#cart_number{
  position: absolute;
  top: 3px;
  translate: -36px;
  min-height: 32px;
  min-width: 32px;
  padding: 3px;
  text-align: center;
  background-color: #e7e5e5;
  border: 2px solid black;
  border-radius: 50%;
  /* margin: auto; */
  font-size: 20px;
}
.btn:hover {
  /* color-scheme:; */
  background-color: #fff;
  color: #eceaec;
  background-color: #1a0b1d;
}
.input {
  font-size: 18px;
  
  margin: auto;
  width: 19vmax;
 
}
.input i {
  
  position: absolute;
  color: black;
  line-height: 10px;
  margin: 10px;
}

.hamburger{
  display: none;
  /* background-color: #f405e4; */
  height: auto;
  width: auto;
  font-size: 2rem;
  color: #000000;
}

.login_pop {
  display: grid;
  place-content: center;
  margin: 40px;
}
#login_page {
  /* display: none; */
  visibility: hidden;
  display: grid;
  /* grid-template-columns: auto ; */

  height: 500px;
  width: 400px;
  background-color: #9e9898;
  box-shadow: 1px 1px 8px 1px #7f4b5f;
  border-radius: 12px;
  /* justify-items: end; */
  position: relative;
}
#btn-cross {
  cursor: pointer;

  height: fit-content;
  width: fit-content;

  position: absolute;
  right: 0;

  border-radius: 10px;
  border: none;
}
#btn-cross :hover {
  color: crimson;
}
.heading {
  /* font-size: 20px; */
  /* margin: auto; */

  position: absolute;
  left: 41%;
  top: 38px;
  color: #360649;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:#111111;

  & label{
    font-size: 22px;
  }

}
.input-form{
  background-color: #dad8d8;
  height: 30px;
  font-size: 15px;
  border: 2px solid black red;
  border-radius: 8px;
  padding-left: 8px;
}
.input-form:hover{
  background-color: #f7f4f4;
  color: #30012c;
}


/* ------------------- Cart Page --------------------- */
.shopping_cart{
  /* display: grid; */
  padding: 50px;
}

.top_label{
  margin: 100px;
  text-align: center;
  font-size: 50px;
}
.cart_content .cart_item{
  display: flex;
  height: 120px;
  justify-content: space-evenly;
  align-items: center;
}
.cart_content .cart_item .product_info{
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  gap: 6em
}

.shopping_cart  #img_id img{
  height: 114px;
  width: 120px;
  box-shadow: 1px 1px 3px 1px #aabbba;
  border-radius: 15px;
}
.shopping_cart .btn-inc-dec{
  display: flex;
}
/* .shopping_cart .btn-inc-dec .item-qty {
  border: 1px solid white;

} */
.btn-inc , .btn-dec , .item-qty {
  border: 1px solid ;
  border-radius: 2px;
  min-width:25px ;
  color: #a3f1f1;
  text-align: center;
  padding: 2px;
}
.btn-inc , .btn-dec :hover{
  cursor: pointer;
}
.btn-remove{
  height: 32px;
  width: 105px;
  border-radius: 14px;
  font-size: 18px;
  font-weight: 600;
  box-shadow: #1a0b1d;
}
.btn-remove:hover{
  background-color: #4e4d4d;
  color: #ffffff;
}
.shopping_cart .end_display{
  text-align: center;

  & h2{
    color: #a3f1f1;
  }
  
}

.shopping_cart .btn-crt-page , .btn-home{
  margin: 10px;
  background-color: #1b1b1b;
  color: #eee242;
  border-color: #a3f1f1;
  color: #00fff2e5;
  font-size: 20px;
  
  padding: 10px;
  border-radius: 30px;
  
}
.shopping_cart .btn-crt-page, .btn-home:hover {
  cursor: pointer;
  background-color: #000000;

  color: #eee242;
  border-color: #f0f1a3;
  transform: scale(1.12);
  transition: .3s ease-in-out;
}


@media only screen and (width>970px) {
  .logo-1{
    display: block;
  }
  .logo-2{
    display: none;
  }
}
@media only screen and (max-width:1040px) {
  .content{
    gap: 1rem;
    background-color: transparent;
    
  }
}
@media only screen and (max-width:970px) {
  .logo-1{
    display: none;
  }
  .logo-2{
    display: block;
  }
  .search,.input{
    width: 15rem;
    transition: .4s ease-in-out;
  }
}
@media only screen and (max-width:850px) {
  .content{
    gap: 1rem;
    display: none;
    transition: 10s ease-in-out;
    
  }
  .hamburger{
    display: block;
  }
  .search,.input{
    width: 38vmax;
    transition: .4s ease-in-out;
  }
}

@media (max-width:600px) {
  .nav {
    
    
    /* display: flex;
    flex-direction: column; */
    /* display: grid; */
    /* grid-template-columns: repeat(4,auto); */
    /* grid-template-columns: repeat(auto-fit,minmax(70px,auto)); */


    /* justify-content: space-evenly; */
    /* width: auto; */
    /* height: auto; */
  }
  .content {
    display: none;
    grid-column: 2;
    grid-row: 3;
    /* grid-row: inherit; */
    flex-direction: column;
  }
  .btn-cart{
    grid-row: 1;
    grid-column: 2;
  }
  .hamburger{
    display: block;
    grid-row: 1;
    grid-column: 4;
    }
  .btn-login{
    grid-row: 1;
    grid-column: 3;
  }
  .input{
    /* display: inline; */
    grid-row: 2;
    grid-column: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    /* width: 2rem; */
    /* width: 100px; */
    /* position: absolute; */
  }
  .search,.input{
    transition: .4s ease-in-out;
    /* width: 10rem; */
    /* position: relative; */
    /* left: 0; */
    /* width: 100vw; */
    
  }
  .logo-1{
    display: block;
  }
  .logo-2{
    display: none;
  }
}
@media only screen and (width<500px) {
  .logo-1{
    display: none;
  }
  .logo-2{
    display: block;
  }
  .search,.input{
    /* display: none; */
    /* width: 15rem; */
    transition: .4s ease-in-out;
  }
}










/* signin Google */

.data{
  display: none;
}