.product_pg{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.shop_item{
    display: grid;
    width: 400px;
    margin: 20px;
    padding: 20px;
    border-radius: 25px;
    /* background-color: #fff; */
    box-shadow: 0px 1px 5px 1px #bbbbbb;
    
    
}
.shop_item:hover{
    
    /* transform: perspective(200px); */
    /* transform: translate(5px,5px); */
    transform: scale3d(1.03,1.02,1.03);
    transition: .5s ease-in-out;
    
    
}
#img_id img{
    height: 240px;
    width: 356px;
    border-radius: 10px;
}
.product_info{
    padding: 10px;
    text-align: center;
    background-color: #222222;
    border-radius: 10px;
    margin: 5px 0px;

    /* padding: 10px;
    text-align: center;
    background-color: #222222;
    border-radius: 10px;
    margin: -20px 0px 5px;
    order: 10;
    background-image: radial-gradient(black, transparent); */
    & .price{
        font-size: 21px;
        
        margin: 8px;
    }
    & .btn-add{
        background-color: #1b1b1b;
        color: #eee242;
        border-color: #a3f1f1;
        color: #00fff2e5;
        font-size: 20px;
        padding: 10px;
        border-radius: 30px;
        
    }
    
}

.btn-add:hover {
    cursor: pointer;
    background-color: #000000;

    color: #eee242;
    border-color: #f0f1a3;
    transform: scale(1.12);
    transition: .3s ease-in-out;
}


@media only screen and (max-width:600px){
    .shop_item{
        display: flex;
        width: fit-content;
        height: fit-content;
        margin: 30px;
        padding: 20px;
        border-radius: 25px;
        /* background-color: #fff; */
        box-shadow: 0px 1px 5px 1px #bbbbbb;
        
        justify-content: center;
        align-items: center;
        
        
    }
    .product_pg{
        display: block;
        place-content: center;
        justify-content: center;
        /* align-items: center; */
        /* flex-wrap: wrap; */
    
    }
    #img_id img{
        height: 200px;
        width: 206px;
        border-radius: 10px;
    }
    .product_info{
        height: 190px;
        padding: 10px;
        text-align: center;
        background-color: #222222;
        border-radius: 10px;
        margin: 5px 0px;
        width: 200px;
        /* box-sizing: border-box; */
    
        /* padding: 10px;
        text-align: center;
        background-color: #222222;
        border-radius: 10px;
        margin: -20px 0px 5px;
        order: 10;
        background-image: radial-gradient(black, transparent); */
        & .price{
            font-size: 21px;
            
            margin: 8px;
        }
        & .btn-add{
            background-color: #1b1b1b;
            color: #eee242;
            border-color: #a3f1f1;
            color: #00fff2e5;
            font-size: 20px;
            padding: 10px;
            border-radius: 30px;
            
        }
        
    }
    
    .nav {
        /* position: sticky;
        top: 0;
        order:100; */
        background-color: #ffffff;
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        height: 80px;
        /* align-items: center; */
        /* justify-content: space-around; */
        /* justify-content: space-evenly; */
      }
      .content {
        font-size: 21px;
        color: #8dffff;
        display: flex;
        list-style-type: none;
        /* flex-direction: row; */
        /* flex-wrap: nowrap; */
        align-content: space-between;
        justify-content: center;
        align-items: center;
        gap: 2em;
        justify-content: space-evenly;
      }
      
      .search {
        height: 30px;
        border: 2px solid black;
        border-radius: 9px;
        height: 29px;
        background-color: #e0dfdf;
        /* padding-left: 18px; */
        font-size: 18px;
        padding-left: 35px;
      }
      .login_btn,
      .btn-cart {
        height: 40px;
        line-height: inherit;
        width: 110px;
        /* width: fit-content; */
        /* border: 2px solid black; */
        border-radius: 9px;
        /* padding-left: 18px; */
        font-size: 22px;
        margin: auto;
        cursor: pointer;
      }
      
      .btn-cart {
        /* border: none;
        background-color: transparent; */
        & i {
          color: #494b4b;
          font-size: 45px;
        }
        & span {
          margin: 4px;
        }
      }
      .nav {
        position: sticky;
        top: 0;
        order:100;
        background-color: #c5c4c4;
        /* display: grid; */
        /* grid-template-columns: auto auto auto auto auto; */
        height: 80px;
        align-items: center;
        justify-content: space-around;
        /* justify-content: space-evenly; */
        /* display: flex;
        flex-direction: column; */
      }
      .content {
        font-size: 21px;
        color: #515656;
        display: flex;
        /* flex-direction: column; */
        /* list-style-type: none; */
        /* flex-direction: row; */
        /* flex-wrap: nowrap; */
        align-content: space-between;
        justify-content: center;
        align-items: center;
        gap: 2em;
        justify-content: space-evenly;
      }
      
      .search {
        height: 30px;
        border: 2px solid black;
        border-radius: 9px;
        height: 29px;
        background-color: #e0dfdf;
        /* padding-left: 18px; */
        font-size: 18px;
        padding-left: 35px;
      }
      .login_btn,
      .btn-cart {
        height: 40px;
        line-height: inherit;
        width: 110px;
        /* width: fit-content; */
        /* border: 2px solid black; */
        border-radius: 9px;
        /* padding-left: 18px; */
        font-size: 22px;
        margin: auto;
        cursor: pointer;
      }
      
      .btn-cart {
        /* border: none;
        background-color: transparent; */
        & i {
          color: #494b4b;
          font-size: 45px;
        }
        & span {
          margin: 4px;
        }
      }
}
/* @media only screen and ( max-width: 300px) {
            
    body{
        background-color: aqua;
    }
    .cont{
    grid-template-areas: 
    'nav nav nav nav'
    'section section section  section'
    'footer footer footer footer'
    }

    aside{
        display: none;
    }
    span{
        display: block;
        text-align: center;
    }
 

}
@media only screen and (300px < width < 500px) {
    
    body{
        background-color: #efb8f7;
    }
    .cont{
    grid-template-areas: 
    'nav nav nav nav'
    'section section section  section'
    'aside aside aside aside'
    'footer footer footer footer'
    }

    nav{
        display: grid;
        text-align: center;
    }
}
@media only screen and ( 500px < width < 800px) {
    
    body{
        background-color: #baf3ac;
    }
    .cont{
    grid-template-areas: 
    'nav nav nav nav'
    'section section section  section'
    'aside aside aside aside'
    'footer footer footer footer'
    }

    nav{
        display: inline-block;
        display: flex;
        flex-direction:column;
        text-align: center;
    }
}
@media only screen and (  800px < width < 1000px) {
    
    body{
        background-color: #ffafdb;
    }
    nav{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: none;
        text-align: center;
        display: flex;
        gap: 20px;
    }
}
@media only screen and (  min-width:1000px) {
    
    body{
        background-color: #fae8b8;
    }
} */